a {
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 4px;
    margin-right: 5px;
    padding: 0.5ch;
}
a.st-active {
    background-color: silver;
}
div {
    width: 500px;
    margin: auto;
}
