<div>
    <h2>My Profile</h2>
    <h4>Basic Information</h4>
    <ul>
        <li>
            <b><label>Name : </label></b><label>Promsith Tapuang</label>
        </li>
        <li>
            <b><label>Gender : </label></b><label>Male</label>
        </li>
        <li>
            <b><label>Age : </label></b><label>20</label>
        </li>
    </ul>
    <h4>Autobiography</h4>
    <p>
        I was born on 14 May 2002 in Chiang Rai. I live in Chiang Rai until i was 18
        then i addmissioned at Collage of Arts Media and Technology, Chiang Mai University
        and i'am still studying...
    </p>
    <h4>GitHub Pages</h4>
    <a href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-turnkung/" target="_blank" rel="noopener noreferrer">Lab02</a>
    <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-turnkung/" target="_blank" rel="noopener noreferrer">Lab03</a>
    <a href="">Lab04 (This)</a>
</div>


