<div>
    <h2>Friend</h2>
    <table>
        <th>First-Name</th><th>Last-Name</th><th>Nick-Name</th><th>Github-Pages</th>
        <tr>
            <td><label>Wuttichai</label></td>
            <td><label>Homanana</label></td>
            <td><label>Tunyong</label></td>
            <td>
                <a href="https://github.com/camt-mmit/2022_02-954447-001-week-02-dom-and-javascript-x1il" target="_blank" rel="noopener noreferrer">Lab02</a>
                <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-x1il/" target="_blank" rel="noopener noreferrer">Lab03</a>
                <a href="">Lab04</a>
            </td>
        </tr>
        <tr>
            <td><label>Thanawat</label></td>
            <td><label>Kaewinthorn</label></td>
            <td><label>Fuji</label></td>
            <td>
                <a href="https://github.com/camt-mmit/2022_02-954447-001-week-02-dom-and-javascript-Sadsadaji" target="_blank" rel="noopener noreferrer">Lab02</a>
                <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-Sadsadaji/" target="_blank" rel="noopener noreferrer">Lab03</a>
                <a href="">Lab04</a>
            </td>
        </tr>
    </table>
</div>

