<div>
    <h2>Status</h2>
    <table>
        <tr>
            <th>Current Time</th>
            <td>{{ current_time }}</td>
        </tr>
        <tr>
            <th>User Agent</th>
            <td>{{ user_agent_data }}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>{{ languages }}</td>
        </tr>
        <tr>
            <th>Is Cookie Enagled?</th>
            <td>{{ use_cookie }}</td>
        </tr>
        <tr>
            <th>Logical Processors</th>
            <td>{{ num_logical_processor }}</td>
        </tr>
        <tr>
            <th>Max Touch Points</th>
            <td>{{ max_touch_points }}</td>
        </tr>
    </table>
</div>

