table th {
    text-align: left;
    width: 25%;
}
table tr td {
    width: 600px;
    padding-left: 15px;
}
div {
    width: 50%;
    margin: auto;
}
table {
    margin: auto;
}
table th::after {
    content: '::';
    color: blue;
    padding-left: 1ch;
    padding-right: 1ch;
}
div table{
    display: grid;
}
